@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;

  background: #020617;
  color: white;

  font-family:
    Inter,
    "Segoe UI",
    Roboto,
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #06b6d4;
  color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    #06b6d4,
    #3b82f6,
    #7c3aed
  );

  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    #22d3ee,
    #2563eb,
    #8b5cf6
  );
}

/* Background */

body::before {
  content: "";

  position: fixed;

  inset: 0;

  background:
    radial-gradient(circle at top left,
      rgba(34,211,238,.08),
      transparent 30%),

    radial-gradient(circle at top right,
      rgba(99,102,241,.08),
      transparent 35%),

    radial-gradient(circle at bottom center,
      rgba(59,130,246,.05),
      transparent 40%);

  pointer-events: none;

  z-index: -1;
}